*{
    padding: 0px;
    margin: 0px;
}
section{
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background: url(media/gif.gif) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
section #man{
    position: relative;
    z-index: 80;
}
h1{
    position: relative;
    align-items: center;
    color: white;
    z-index: 200;
    font-size: xx-large;
    text-align: center;
    top: 75vh;
    text-shadow: 2px 2px black;
}

#net1{
    position: absolute;
    background: url(media/2816564815.gif);
    background-position: right;
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-size: 120vh;
    animation-name: pm1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
#net2{
    position: absolute;
    background: url(media/1036475716.gif);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    right: 10vh;
    animation-name: pm2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#net3{
    background: url(media/3953874272.gif);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    animation-name: pm3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#net4{
    background: url(media/4004736035.gif);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    animation-name: pm4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes pm1 {
    from{transform: translate(-10vw,40vh);}
    to{transform: translate(20vw,-50vh);}
}
@keyframes pm2 {
    from{transform: translate(-20vw,100vh);}
    to{transform: translate(20vw,-50vh);}
}
@keyframes pm3 {
    from{transform: translate(-30vw,40vh);}
    to{transform: translate(20vw,-50vh);}
}
@keyframes pm4 {
    from{transform: translate(-10vw,40vh);}
    to{transform: translate(20vw,-60vh);}
}